# Porta do Servidor (no Render/Railway/Heroku é injetada automaticamente)
PORT=3001

# Banco de Dados (deixe vazio para usar SQLite local automático, ou preencha para MySQL)
DB_DIALECT=sqlite
# DB_HOST=127.0.0.1
# DB_USER=root
# DB_PASS=123456
# DB_NAME=safewaste_db
# DB_PORT=3306

# Chave Secreta para Assinaturas e JWT
JWT_SECRET=safewaste_sec_key_2026_immutable_hash
